<div class="login-wrapper">
  <div class="login-content">
    <div class="application-title">
      <%= application_title %>
    </div>
    <div class="login-title">
      <h2>Log in</h2>
    </div>
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field spaced">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "spaced" %>
        </div>

        <div class="field spaced">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "spaced" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field spaced aligned rememberme-box">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>
</div>